/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.body {
  margin: 0px 80px;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d3d3d3;
  /* light grey */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  /* subtle shadow below */
}

.logo {
  width: 120px;
}

.nav-items {
  padding: 0px 20px;
}

.nav-items>ul {
  font-size: 20px;
  display: flex;
  list-style-type: none;
}

.nav-items>ul>li {
  padding: 10px;
  margin: 10px;
}

.res-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.res-card {
  width: 300px;
  /* height: 300px; */
  padding: 5px;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.res-logo {
  /* padding: 5px; */
  width: 100%;
}